 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

* {
    margin: 0;
    padding: 0;
}

html {
     height: 100%; 
     font-size: 100%;
 }

body {
    font-family: 'Trirong', serif;
    color: white; 
    min-height: 100%; 
    background-color: #aae0f2;
}
    
/* these are not working
header, footer  {
   min-height: 7%; 
    background-color: #29a0c7;
}*/

header {
    min-height: 500px;
/*        background: #999;*/
    background-image: url('../images/bubble.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 1080px;
    margin: 0px auto;
    padding: 25px 0;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    color: #261919;
    text-decoration: none;
    left: 0; 
}

.logo {
    float: left;
    font-size: 1.6em;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-main {
     float: right;
     padding: 0.5rem;
/*     background-color: #29a0c7;*/
     /*z-index: 1;*/
 }

.navbar-main .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;
     color: #fff;
     font-size: 0.9rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-decoration: none;
     cursor: pointer; 
/*     background: none;*/
}

.navbar-main .navbar-link:hover {
    border-bottom: 1px solid #fff;
}

/* Middle section */
h1 {   
    position: absolute;
     top: 40%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: center;
     font-size: 4rem;
     font-weight: 300;
     letter-spacing: 0.5rem;
     text-shadow: 1px 1px 0px rgb(58,23,63); 
}

.strap-line {
    position: relative;
    min-height: 500px; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Bottom Section greyed out so comes up on screen

.information {
     position: relative;
 }
 
 .section {
     position: relative;
     padding: 2rem;
     text-align: center;
     opacity: 0;
     -webkit-transform: scaleX(0.8) translateY(3rem);
     -moz-transform: scaleX(0.8) translateY(3rem);
     transform: scaleX(0.8) translateY(3rem);
     -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
     transition: all 0.25s ease-in-out;
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;
 }
 
 .section .section-title {
     font-size: 1.25rem;
     color: white;
 }

.container {
     margin: 0 auto;
     max-width: 64rem;
 }

.container.narrow {
     max-width: 56rem;
 }

*/

/* Medium and small screens (640px) */
 @media (min-width: 640px) {
   html { font-size: 112%; }/* Style information will go here */
      
   .column {
       float: left;
       padding-left: 1rem;
       padding-right: 1rem;
     }
     
     .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }  
 }
 
 /* Large screens (1024px) */
 @media (min-width: 1024px) {
    html { font-size: 120%; }/* Style information will go here */
 }

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}